<div id="header" style="margin:10px;">
<% if(!user) { %>
<div id="home">
    <a href="/login">
    <button class="btn btn-primary" id="btn-signin"> Sign in with Twitter </button>
    </a>
    <a href = "home">
    <button class="btn btn-default" id="btn-home"> Home </button>
    </a>
  </div>
  
<% } else { %>
    <div id="home">
    <div id="sign-out" style="float: right; margin : 15px 10px;">
        <%= user.displayName %>, <a href ="/logout" >Sign out </a>
    </div>
    <a href = "/create-poll">
        <button class="btn btn-default"> Create Poll </button>
    </a>
    <a href = "/my-poll">
        <button class="btn btn-default" > My Polls </button>
    </a>
    <a href = "home">
        <button class="btn btn-default" id="btn-home"> Home </button>
    </a>
    
    </div>
    
<% } %>
</div>