
#home {
  float : left;
  margin : 10px;
  width: 100%;
}
.btn {
  float:right;
  margin-right : 15px;
  margin-top : 10px;
}
#content {
  color : black;
  margin : 20px;
  
  font-size : 20px;
}

#title {
  color : black ;
  
  font-size : 30px;
  font-weight : bold;
}
#list-poll{
  
  
  
  padding : 5px;
  text-align: center;
}

.single-poll{
  
  /*font-size : 20px;*/
  /*margin: 10px;*/
}